.lifecomp{
    /* background-color: #468cde; */
    background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.life-comp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-comp{
    width: 50vh;
}
.left-comp img {
    width: 100%;
}
.right-comp{
    width: 50vh;
}
